
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Gen's BookStore</title>
<link rel="stylesheet" href="css/bootstrap.min.css" />

<!-- Custom styles for this template -->
<link href="css/navbar.css" rel="stylesheet" />

<!-- data table -->
<link
	th:href="@{http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css}"
	rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"
	type="text/css" />

<link rel="icon" href="/images/apple-touch-icon.png" />
</head>
<body>
	<div th:fragment="navbar">
		<div class="page-top"></div>
		<nav
			class="navbar navbar-default navbar-inverse justify-content-between">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Gen BookStore</a>
				</div>
				<div id="navbar">
					<ul class="nav navbar-nav navbar-left">
						<li class="dropdown"><a th:href="@{/bookshelf}"
							class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-haspop="true" aria-expanded="false">BOOKS<span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/bookshelf}">Browse Bookshelf</a></li>
								<li><a href="#">Store Hours and Direction</a></li>
								<li><a href="#">FAQ</a></li>
							</ul></li>
						<li><form class="form-inline my-2 my-lg-0">
								<input class="form-control mr-sm-2" type="search"
									placeholder="Search" aria-label="Search" />
								<button class="btn btn-outline-success my-2 my-sm-0"
									type="submit">Searchs</button>
							</form></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">SHOPPING CART</a></li>
						<li><a sec:authorize="isAnonymous()" th:href="@{/login}">MY
								ACCOUNT</a></li>
						<li><a sec:authorize="isAuthenticated()"
							th:href="@{/myProfile}">MY ACCOUNT</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">LOGOUT</a></li>

					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div th:fragment="body-bottom-scripts">
		<script src="lib/jquery/jquery.min.js"></script>
		<script src="lib/jquery/bootstrap.min.js"></script>
		<script
			th:src="@{http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/lib/datatables/dataTables.bootstrap.min.js}"></script>
	</div>
</body>
</html>